/* This whole file is probably a nightmare isn't it */

h1 {
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
}

h3 {
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h4 {
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#logo {
    max-inline-size: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -45px;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -10px;
}

a {
    color: #d7a93e;
    text-decoration: none;
}

a:visited {
    color: #d7a93e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.links-container {
    margin-top: 10px;
    text-align: center;
}

.link {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.small-link {
    display: inline;
    margin-right: 15px;
}

#body {
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: -50px;
    width: 75%;
    margin-bottom: -45px;
    border-bottom: 5px dotted #f5c147;
}

.social-link-icon {
    max-block-size: 40px;
    width: 50px;
}

#tom-scott {
    color: #c02c38;
}

.header {
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    width: 75%;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 5px dotted #f5c147;
}

#random-blurb {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.quote {
    margin: auto;
    width: 250px;
    text-align: left;
    margin-top: 50px;
}

#snail-box {
    text-align: right;
    position: relative;
}

#snail {
    max-width: 10%;
}

.game {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.wikipedia-header {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wikipedia-article {
    display: block;
    margin: auto;
    margin-top: 40px;
}

#names {
    text-align: center;
}