/* This whole file is probably a nightmare isn't it */

h1 {
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
}

h3 {
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h4 {
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#logo {
    max-inline-size: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -60px;
    margin-bottom: -35px;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -10px;
}

.links-container {
    margin-top: 10px;
    text-align: center;
}

.link {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#body-1 {
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: -50px;
    width: 75%;
    margin-bottom: -45px;
    border-bottom: 5px dotted #f5c147;
}

.social-link-icon {
    max-block-size: 40px;
    width: 50px;
}

.header {
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    width: 75%;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 5px dotted #f5c147;
}

.quote {
    margin: auto;
    width: 250px;
    text-align: left;
    margin-top: 50px;
}

#snail-box {
    text-align: right;
}

#snail {
    max-width: 10%;
}